:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

form {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-form-field[formgroupname="subject"] {
  height: 70px;
}

.success-message {
  color: green;
  margin-top: 10px;
  animation: fadeOut 3s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.contact {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  padding-bottom: 20px;
}

.subject {
  height: 200px;
}
