<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <h2 class="contact">Contact</h2>
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName" />
    <mat-error *ngIf="contactForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lastName" />
    <mat-error *ngIf="contactForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
    <mat-error *ngIf="contactForm.get('email')?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="contactForm.get('email')?.hasError('email')">Invalid email address</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Subject" formControlName="subject" />
    <mat-error *ngIf="contactForm.get('subject')?.hasError('required')">Subject is required</mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!contactForm.valid"
  >
    Submit
  </button>
  <div *ngIf="showSuccessMessage" class="success-message">
    Your message has been submitted.
  </div>
</form>
