.price {
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
  width: 200px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 50px;
}

img {
  margin: 10px;
  max-width: 150px;
  max-height: 150px;
}

.demo-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin: 20px;
  margin-right: 270px;
}

.delete-button {
  margin-right: 20px;
}

.stepper-wrapper {
  margin: 20px 250px;
}

.td {
  width: 150px;
}

.column {
  width: 150px;
}
