.wraper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-section {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

.img-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 700px;
  margin-left: 50px;
}

.about-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.about-text {
  padding: 120px;
  font-size: large;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.footer {
  background-size: cover;
  color: white;
  padding: 50px;
  text-align: center;
}
